.card {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vm;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swipe {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.topCard {
  z-index: 1; /* Ensure the top card is on top */
}

.swipeButtons {
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset !important;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: orange !important;
}

.swipeButtons__close {
  padding: 3vw !important;
  color: red !important;
}

.swipeButtons__favorite {
  padding: 3vw !important;
  color: lightgreen !important;
}
